.contactContainer {
  max-width: 700px;
}
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.headerGradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(177, 127, 182, 1) 29%,
    rgba(195, 210, 127, 0.9951330874146533) 51%,
    rgba(80, 218, 174, 1) 75%,
    rgba(9, 2, 92, 1) 100%
  );
}
.iconGradient {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.footerColor{
    background: rgba(41,47,54,0.90);
}
